.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
__pycache__/
.pytest_cache/
*.pyc
*.db
.env
lambda/.build/*
!lambda/.build/.gitkeep
infra/modules/events/lambda.zip
.env
odoo-data/
postgres-data/
